<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/nav.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
    <title><%=pageTitle%></title>
  </head>
  <body>
    <nav>
      <div class="nav-main"></div>
      <div class="nav-action">
        <span class="icon-container_nav">
          <a href="/pos/system"
            ><img src="/img/icons/pos.png" alt="products"
          /></a>
        </span>
      </div>
      <div class="nav-admin"></div>
    </nav>
    <main>
      <section class="navigation-section">
        <div class="pannel-head"><span>لوحة التحكم</span></div>
        <div class="pannel-item_container" id="cats">
          <div class="pannel-item_data">
            <div class="pannel-item_data">
              <span class="icon-container">
                <img src="/img/icons/products.png" alt="products" />
              </span>
              <span>المنتجات</span>
            </div>
            <span class="icon-container">
              <img src="/img/icons/down-arrow.png" alt="products" />
            </span>
          </div>
          <div class="dropdown-container">
            <a href="#" id="catsLnk">الأقسام</a>
            <a href="#" id="itemsLnk">الأصناف</a>
            <a href="#">الوحدات</a>
          </div>
        </div>
        <div class="pannel-item_container">
          <div class="pannel-item_data">
            <span class="icon-container">
              <img src="/img/icons/branch.png" alt="products" />
            </span>
            <a href="#" id="branchLnk"><span>الفروع</span></a>
          </div>
        </div>
        <div class="pannel-item_container">
          <div class="pannel-item_data">
            <span class="icon-container">
              <img src="/img/icons/user.png" alt="products" />
            </span>
            <a href="#" id="userLnk"><span>المستخدمين</span></a>
          </div>
        </div>
        <div class="pannel-item_container">
          <div class="pannel-item_data">
            <span class="icon-container">
              <img src="/img/icons/payment.png" alt="products" />
            </span>
            <span>وسائل الدفع</span>
          </div>
        </div>
        <div class="pannel-item_container">
          <div class="pannel-item_data">
            <span class="icon-container">
              <img src="/img/icons/reports.png" alt="products" />
            </span>
            <span>التقارير</span>
          </div>
        </div>
        <div class="pannel-item_container">
          <div class="pannel-item_data">
            <span class="icon-container">
              <img src="/img/icons/roles.png" alt="products" />
            </span>
            <a href="#" id="roleLnk"><span>الوظائف / الادوار</span></a>
          </div>
        </div>
      </section>
      <div class="categories-display">
        <section class="categories">
          <div class="backdrop" id="catBackDrop"></div>
          <div class="modal" id="catModal">
            <div class="modal__actions">
              <h2>إنشاء قسم</h2>
              <form action="/add/category" method="post">
                <input
                  type="text"
                  name="categoryName"
                  placeholder="اسم القسم"
                  class="regular-input"
                />
                <label>لوجو القسم</label>
                <input type="file" name="categoryLogo" class="regular-input" />
                <div class="form-btn_container">
                  <button type="submit" class="action-btn">إنشاء</button>
                  <button type="button" class="cancel-btn">الغاء</button>
                </div>
              </form>
            </div>
          </div>
          <div class="categories-tools">
            <input
              type="text"
              name="search"
              placeholder="بحث"
              class="search-box"
            />
            <button type="button" class="action-btn" id="catBtn">
              انشاء قسم
            </button>
          </div>
          <div class="categories-details">
            <div class="row-head">
              <div>اسم القسم</div>
              <div>عدد المنتجات</div>
              <div>اجراءات</div>
            </div>
            <div class="row-body">
              <div>الاسماك</div>
              <div>16</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
            <div class="row-body">
              <div>الاسماك</div>
              <div>16</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
            <div class="row-body">
              <div>الاسماك</div>
              <div>16</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
            <div class="row-body">
              <div>الاسماك</div>
              <div>16</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="items-display">
        <section class="categories">
          <div class="backdrop" id="itemBackDrop"></div>
          <div class="modal" id="itemModal">
            <div class="modal__actions">
              <h2>إنشاء صنف</h2>
              <form action="/add/category" method="post">
                <input
                  type="text"
                  name="categoryName"
                  placeholder="اسم القسم"
                  class="regular-input"
                />
                <label>صورة الصنف</label>
                <input type="file" name="file" class="regular-input" />
                <div class="form-btn_container">
                  <button type="submit" class="action-btn">إنشاء</button>
                  <button type="button" class="cancel-btn">الغاء</button>
                </div>
              </form>
            </div>
          </div>
          <div class="categories-tools">
            <input
              type="text"
              name="search"
              placeholder="بحث"
              class="search-box"
            />
            <button type="button" class="action-btn" id="itemBtn">
              انشاء صنف
            </button>
          </div>
          <div class="categories-details">
            <div class="row-head">
              <div>صورة الصنف</div>
              <div>اسم الصنف</div>
              <div>سعر الصنف</div>
              <div>اجراءات</div>
            </div>
            <div class="row-body">
              <div><img src="" alt="صورة الصنف" /></div>
              <div>بلطى مقلى</div>
              <div>16</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
            <div class="row-body">
              <div><img src="" alt="صورة الصنف" /></div>
              <div>بلطى مقلى</div>
              <div>16</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="branches-display">
        <section class="categories">
          <div class="backdrop" id="branchBackDrop"></div>
          <div class="modal" id="branchModal">
            <div class="modal__actions">
              <h2>إنشاء فرع</h2>
              <form action="#" method="post">
                <input
                  type="text"
                  name="branchName"
                  placeholder="اسم الفرع"
                  class="regular-input"
                />
                <input
                  type="text"
                  name="branchAddress"
                  placeholder="عنوان الفرع"
                  class="regular-input"
                />
                <input
                  type="text"
                  name="branchRegion"
                  placeholder="منطقة الفرع"
                  class="regular-input"
                />
                <div class="form-btn_container">
                  <button type="submit" class="action-btn">إنشاء</button>
                  <button type="button" class="cancel-btn">الغاء</button>
                </div>
              </form>
            </div>
          </div>
          <div class="categories-tools">
            <input
              type="text"
              name="search"
              placeholder="بحث"
              class="search-box"
            />
            <button type="button" class="action-btn" id="branchBtn">
              انشاء فرع
            </button>
          </div>
          <div class="categories-details">
            <div class="row-head">
              <div>اسم الفرع</div>
              <div>عنوان الفرع</div>
              <div>اسم المنطقه</div>
              <div>حالة الفرع</div>
              <div>اجراءات</div>
            </div>
            <div class="row-body">
              <div>السالميه</div>
              <div>منطقة 5 الدور الاول</div>
              <div>السالميه</div>
              <div>مفتوح</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
            <div class="row-body">
              <div>السالميه</div>
              <div>منطقة 5 الدور الاول</div>
              <div>السالميه</div>
              <div>مفتوح</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="users-display">
        <section class="categories">
          <div class="backdrop" id="userBackDrop"></div>
          <div class="modal" id="userModal">
            <div class="modal__actions">
              <h2>إنشاء مستخدم</h2>
              <form action="#" method="post">
                <input
                  type="text"
                  name="fullName"
                  placeholder="الاسم بالكامل"
                  class="regular-input"
                />
                <input
                  type="text"
                  name="username"
                  placeholder="اسم المستخدم"
                  class="regular-input"
                />
                <input
                  type="text"
                  name="password"
                  placeholder="كلمة المرور"
                  class="regular-input"
                />
                <div class="regular-select">
                  <label>الدور/الصلاحيه</label>
                  <select name="role">
                    <option value="admin">مدير النظام</option>
                    <option value="callcenter">موظف خدمة عملاء</option>
                    <option value="cashier">كاشير</option>
                  </select>
                </div>
                <div class="form-btn_container">
                  <button type="submit" class="action-btn">إنشاء</button>
                  <button type="button" class="cancel-btn">الغاء</button>
                </div>
              </form>
            </div>
          </div>
          <div class="categories-tools">
            <input
              type="text"
              name="search"
              placeholder="بحث"
              class="search-box"
            />
            <button type="button" class="action-btn" id="userBtn">
              انشاء مستخدم
            </button>
          </div>
          <div class="categories-details">
            <div class="row-head">
              <div>اسم المستخدم</div>
              <div>الدور/الوظيفه</div>
              <div>حالة المستخدم</div>
              <div>اجراءات</div>
            </div>
            <div class="row-body">
              <div>احمد المرسى</div>
              <div>خدمة عملاء</div>
              <div>المستخدم نشط</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
            <div class="row-body">
              <div>احمد المرسى</div>
              <div>خدمة عملاء</div>
              <div>المستخدم نشط</div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="roles-display">
        <section class="categories">
          <div class="backdrop" id="roleBackDrop"></div>
          <div class="modal" id="roleModal">
            <div class="modal__actions">
              <h2>إنشاء دور/وظيفه</h2>
              <form action="/create/role" method="post">
                <input
                  type="text"
                  name="roleName"
                  placeholder="اسم الدور / الوظيفه"
                  class="regular-input"
                />
                <div class="form-btn_container">
                  <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                  <button type="submit" class="action-btn submit-btn">
                    إنشاء
                  </button>
                  <button type="button" class="cancel-btn">الغاء</button>
                </div>
              </form>
            </div>
          </div>
          <div class="categories-tools">
            <input
              type="text"
              name="search"
              placeholder="بحث"
              class="search-box"
            />
            <button type="button" class="action-btn" id="roleBtn">
              انشاء دور/وظيفه
            </button>
          </div>
          <div class="categories-details" id="roleTbl">
            <div class="row-head">
              <div>اسم الدور/الوظيفه</div>
              <div>اجراءات</div>
            </div>
            <%if (roles.length > 0){%> <%for (let role of roles){%>
            <div class="row-body">
              <div><%=role.roleName%></div>
              <div class="row-actions">
                <span class="icon-container"
                  ><img src="/img/icons/edit.png" alt="edit"
                /></span>
                <span class="icon-container"
                  ><img src="/img/icons/delete.png" alt="delete"
                /></span>
              </div>
            </div>
            <%}%><%}%>
          </div>
        </section>
      </div>
      <%if (errorMessage !== ''){%>
      <div><%=errorMessage%></div>
      <%}%>
    </main>
    <footer><%-include('../includes/end.ejs')%></footer>
  </body>
</html>
